.aboutMeText{line-height: 35px;font-size: 22px;color:rgb(9,9,11);text-align: center;}
.aboutMeSection{margin-top: 180px;font-family: 'Inter',sans-serif;display: flex;flex-direction: column;justify-content: start;align-items: center;box-sizing: border-box;}
.aboutMeHeading{text-align: center;font-size: 50px;}
.skillsSection{margin-top: 40px;}